DB_CONNECTION_STRING=''

## FE
NEXT_PUBLIC_WHITELIST_CONTACT_EMAIL=
# MIXPANEL (Enable only for production/testing)
#NEXT_PUBLIC_MIXPANEL_TOKEN=

# AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# LOGGING
LOG_LEVEL=

## LOCAL AI
AI_PROVIDER=local
AI_MODEL=llama3.1:8b
AI_API_KEY=ollama
AI_BASE_URL=http://localhost:11434/v1

## EXTERNAL AI
# AI_PROVIDER=external
# AI_MODEL=
# AI_API_KEY=
